# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Dataset
Dataset/
Clean_HR_Data/
WorldStrat/
Demo_LR_Images/

# Cache
_analysis/
.agents/
.gradio/
archive/

# Node
node_modules/

Saved_Models/
*.pth

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db